html {
  text-size-adjust: 100%;
}

body {
  background-color: #050e18;
  margin: 0;
  font: 16px / 1;
  font-family: 'roboto'
  display: flex;
}

header {
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ9mWGmxWoLavQnyUL9RrZ9rD-_uKg-YDR5e0OuaKf5QYSzk1En");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 48px;
}

.introduction img {
  height: 140px;
  margin-bottom: 10px;
}

header h1 {
  color: black;
  margin: 0;
  margin-left: 10px;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-size: 20px;
  opacity: 0.5;
  height: 60px;
}

header p {
  font-size: 12px;
  font-weight: normal;
  margin-left: 20px;
}

main {
  display: flex;
}

.banner {
  background-image: url("images/monument.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 100px;
}

.sidebar {
  min-height: 100%;
}

.rss {
  color: white;
  background-color: blue;
  border: 2px solid white;
  padding-bottom: 20px
}

article {
  width: 400px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  margin-top: 10px;
}

article .title {
  font-size: 15px;
  font-weight: bold;
}

article .dates {
  font-size: 12px;
}

article p {
  font-size: 12px;
}

.connect {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

footer {
  color: white;
  text-align: center;
  font-size: 10px;
}*/
