html {
  text-size-adjust: 100%;
}

body {
  background-image: url("images/background.jpg");
  margin: 0;
  font: 16px / 1;
  font-family: 'roboto'
  display: flex;
  justify-content: center;
  color: #525d68
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 100px;
  max-width: 870px;
  margin: auto;
  border-bottom: 1px solid #ada9a4
}

.links a:hover {color: #e5c1b9}

.links {
  padding-left: 20px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.links a {
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

header {
  text-align: center;
}

main {
  display: flex;
}

article {
  border: 2px solid #647772;
  background-color: #ada9a4;
  width: 40%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 10px;
}

footer {
  background-color: #b2aba9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #161918
}

.content {
  background-color: #aaafa8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  opacity: 0.8;
}

footer p {
  font-size: 10px;
}
